<!DOCTYPE html>

<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//apis.google.com/js/platform.js?onload=start"> </script>
	</head>

	<body>
		<div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="507132880458-80o2db3a07c780fdqp6fhn9jn29n7cah.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
	</body>

</html>